<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="NSSwitch" value="All"/>
    </switches>
    <trace autoflush="true" indentsize="4"/>
    <sources>
      <source name="NSSource" switchName="NSSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="None"> -->
          <add name="consoleLogger" type="NameServer.ColorConsoleTraceListener, NameServer">
            <!--<filter type="NameServer.StartStopFilter, NameServer"/>-->
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="BindingAddress" value="129.129.130.44:5430" />
    <add key="SearchAddress" value="129.129.130.111:5064"/>
    <!--<add key="SearchAddress" value="172.20.3.50:5062"/>-->
    <!--<add key="SearchAddress" value="129.129.130.44:5432"/>-->
    <!--<add key="SearchAddress" value="129.129.130.255:5064"/>-->
    <add key="ClusterPrefix" value=""/>
    <add key="NodeId" value=""/>
    <add key="NodesInCluster" value=""/>
  </appSettings>
</configuration>
