<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AdditionalChannels" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <AdditionalChannels>
    <add key="sls-cagw02.psi.ch:5062" value="ARIDI-PCT:CURRENT"/>
  </AdditionalChannels>
  <appSettings>
    <add key="e#ServerList" value="172.22.200.117:5062"/>
    <add key="GatewayName" value="HIPA-CAGW02"/>
    <add key="ServiceName" value="Epics Gateway"/>
    <add key="WebInterface" value="129.129.130.44:8181"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
